.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2.75rem;
}

.App-header{
  width: 50vw;
  padding-bottom: .75rem;
}

.footer-continer {
  margin-top: 3rem;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}